<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/StyleErreur.css">
    <title> Erreur </title>
</head>
<body style="background-color:rgb(255, 75, 75);">
        <p> EMAIL OU MOT DE PASSE INCORRECT !!</p>
         <div style="text-align: center;"><a href="./Location.hbs"><button > Retour </button></a></div>
    </div>
</body>
</html>