$Color :#5a065a;
$BGbtn :rgb(211, 211, 211);
@mixin btn() {
    width: 180px;
    height: 40px;
    background-color: $Color;
    color:white;
    font-size: 18px;
    border-radius: 20px;
    border-style: none;
    &:hover{
        cursor: pointer;
        background-color:$BGbtn;
        color: $Color;
    }  
}
@mixin Buttons() {
    @include btn();
    width: 300px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    background-color:$BGbtn;
    margin: auto;
    font-weight: bold;
    display: flex;
    padding:5px;
    padding-left:15px;
    text-align: center;
    cursor: pointer; 
    img{
        height:20px;
        width: 20px;
        margin-right: 70px;
    }     
}

*{
    margin:0px;
    padding: 0px;
}
body{
    .menu{
        width: 100%;
        background-color: black;
        height: 80px;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }
    #logo{
        float: left;
        height: 50px;
        margin : 30px;
        margin-top : 10px;
        margin-left: 200px;
    }
    .logout{
        @include btn();    
        float: right;
        margin : 20px;
        margin-right: 100px;
        display: flex;
        justify-content: space-between;
        padding:10px;
        padding-left: 20px;
        padding-right:20px;
        img{
            width:20px;
            height:20px;
        }
    }
    .espace{
        height:80px;
    }
    .all{
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        .part1{
            width:30%;
            #btnAdd{
                  @include Buttons();                       
            }        
            #newHome{
                display: none;
                width: 100%;
                form{
                    width:90%;
                    border: 1px solid black;
                    background-color: rgb(0, 0, 0);
                    border-radius: 15px;
                    margin:auto;
                    padding: 30px;
                    box-sizing: border-box;
                    input{
                        padding: 10px;
                        width: 95%;
                        margin: auto;
                        height:40px;
                        margin-bottom: 10px;
                        box-sizing: border-box;
                        font-size: 15px;
                        color:black;
                        border-radius: 5px;
                    }
                    button{
                        width: 150px;
                        color: white;
                        font-size: 15px;
                        height: 40px;
                        border-style: none;
                        border-radius: 30px;
                        margin-top:20px;
                        background-color:$Color;
                        font-weight: bold;
                        cursor: pointer;
                    }
                }     
            }
        }  
        .part2{
            width:30%;
            button{
                    @include Buttons(); 
                    img{
                        width: 25px;
                        height:18px;
                        margin-right: 25px;
                    }                      
            }   
            table{
                display: none;
                margin: auto;
                margin-top:50px;
                box-sizing: border-box;
                td{
                padding:5px;}
            }  
        } 
        .part3{
            width:30%;
            button{
                    @include Buttons();   
                    img{
                    margin-right: 30px;                    
                }  
            } 
            table{
                display: none;
                margin-top:50px;
                box-sizing: border-box;
                td{
                padding:5px;}
            }
        } 
    }
}






@media only screen and (max-width: 1250px) {
    
    
}