@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
nav h1 {
  text-decoration: underline;
  -webkit-text-decoration-color: #5a065a;
          text-decoration-color: #5a065a;
  text-align: center;
}

nav .parags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .def, nav .choix {
  width: 45%;
  text-align: center;
  line-height: 30px;
}

nav .def p, nav .choix p {
  margin-top: 20px;
}

nav .destinations {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .destinations .images {
  width: 85%;
  margin: auto;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .destinations .images div {
  height: 300px;
  width: 300px;
}

nav .destinations .images .image1 {
  background-image: url("Images/Hawaii.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav .destinations .images .image1 .descr1 {
  display: none;
}

nav .destinations .images .image1:hover .descr1 {
  display: block;
  position: absolute;
  height: 300px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 40px;
  text-align: center;
  padding-top: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav .destinations .images .image2 {
  background-image: url("Images/Turquie.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav .destinations .images .image2 .descr2 {
  display: none;
}

nav .destinations .images .image2:hover .descr2 {
  display: block;
  position: absolute;
  height: 300px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 40px;
  text-align: center;
  padding-top: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav .destinations .images .image3 {
  background-image: url("Images/Houceima.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav .destinations .images .image3 .descr3 {
  display: none;
}

nav .destinations .images .image3:hover .descr3 {
  display: block;
  position: absolute;
  height: 300px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 40px;
  text-align: center;
  padding-top: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav .destinations .images .image4 {
  background-image: url("Images/Italie.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav .destinations .images .image4 .descr4 {
  display: none;
}

nav .destinations .images .image4:hover .descr4 {
  display: block;
  position: absolute;
  height: 300px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 40px;
  text-align: center;
  padding-top: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav #gal {
  text-align: center;
  text-decoration: underline;
  -webkit-text-decoration-color: #5a065a;
          text-decoration-color: #5a065a;
}

nav .galerie {
  height: 100%;
  width: 90%;
  margin: auto;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .galerie .main-slider {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  margin-bottom: 100px;
  height: 350px;
  color: white;
  font-size: 2em;
}

nav .galerie .main-slider .fimage {
  width: 100%;
  height: 80%;
}

nav .galerie .main-slider img {
  width: 100%;
  height: 100%;
}

nav .galerie .main-slider .nav-icon {
  margin-top: -120px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  z-index: 4;
}

nav .galerie .main-slider .nav-icon i {
  cursor: pointer;
}

nav .galerie .main-slider .description {
  padding: 20px;
  padding-top: 5px;
  color: black;
  width: 100%;
  font-size: 13px;
  border: 1px solid black;
  border-top-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav .galerie .main-slider .description li {
  margin-top: 4px;
}

nav .galerie .main-slider .description button {
  margin-top: -15px;
  float: right;
  width: 30%;
  height: 30px;
  background-color: #5a065a;
  color: white;
  font-size: 18px;
  border-radius: 20px;
  border-style: none;
}

nav .galerie .main-slider .description button:hover {
  cursor: pointer;
  background-color: lightgray;
  color: #5a065a;
}

nav .contact {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .contact .sm {
  width: 100%;
  text-align: center;
}

nav .contact div {
  margin-top: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav .contact img {
  width: 33px;
  height: 30px;
}

nav .contact img:hover {
  cursor: pointer;
}

nav .contact .fb {
  width: 20px;
}

nav .contact .phone {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 0,2px;
}

@media only screen and (max-width: 1050px) {
  nav .parags {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav .parags .def, nav .parags .choix {
    width: 90%;
    margin: auto;
    margin-top: 30px;
  }
  nav .images div {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
  }
  nav .galerie .main-slider {
    width: 80%;
    margin: auto;
    margin-bottom: 100px;
  }
}
/*# sourceMappingURL=Nav.css.map */